{{range .pmtimeline}}
<div class="flex-m mhn3-m mb4">

<div class="ph3-m w-33-m">
<div class="db">
<p>{{ .kingdom }}</p>
<p>{{ .period }}</p>
<p>{{ .daterange }}</p>
<p>{{ .image }}</p>
<p>{{ .imagecredit }}</p>
</div>
</div>


<div class="ph3-m w-66-m">
<div class="db">
{{ if .region }}<p>Region: {{ .region }}</p> {{end}}
{{ if .strings }}<p>Strings: {{ .strings }}</p>{{end}}
{{ if .event }}<p>Event: {{ .event }}</p>{{end}}
{{ if .usage }}<p>Usage: {{ .usage }}</p>{{end}}
</div>
</div>


</div>
{{end}}
