

<!--Pneed another field for each image to create anchors-->
{{ range .sections}}
<div class="pv4">
	<div class="ph3 mw8 center">

		<div class="mhn2-l">
					{{ $anchortarget := replaceRE " " "" .heading }}
				<h2 class="f2 b lh-title mb2" id="{{$anchortarget}}">{{.heading}}</h2>

{{ if .text }}				<p>{{.text | markdownify}}</p> {{end}}
    {{if .lightbox}}
        <div class="flex-ns flex-wrap mhn2-ns mb3">
          {{ range .lightbox }}
            <a class="lightbox" href="#{{.target}}" class="left db mb3">
               <img src="{{.image}}"/>
            </a>
            <div class="lightbox-target" id="{{.target}}">
               <img src="{{.image}}"/>
               {{.caption}}
               <a class="lightbox-close" href="#"></a>
             </div>
          {{ end }}
        </div>
    {{end}}

	</div>
</div>
</div>
{{end}}
