

<!--Pneed another field for each image to create anchors-->
{{ range .sections}}
<div class="pv4">
	<div class="ph3">

		<div class="mhn2-l mw8 center">
					{{ $anchortarget := replaceRE " " "" .heading }}
				<h2 class="f2 b lh-title mb2 " id="{{$anchortarget}}">{{.heading}}</h2>

{{ if .text }}				<p>{{.text | markdownify}}</p> {{end}}
</div>
<div class="flex-ns flex-wrap mhn2-ns mb3">
    {{if .lightbox}}

          {{ range .lightbox }}
            <a class="lightbox  mw8 center" href="#{{.target}}" class="left db mb3">
               <img src="{{.image}}" class="w-33"/>
            </a>
            <div class="lightbox-target" id="{{.target}}">
               <img src="{{.image}}"/>
               {{.caption}}
               <a class="lightbox-close" href="#{{.target}}"></a>
             </div>
          {{ end }}

    {{end}}
  </div>
	</div>
</div>
{{end}}
