.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoobject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*colabsible blinds from https://alligator.io/css/collapsible/
.wrap-collapsible {
  margin-bottom: 1.2rem 0!important;
}

input[type='checkbox'] {
  display: none!important;
}

.lbl-toggle {
  display: block!important;

  font-weight: bold!important;
  font-family: monospace!important;
  font-size: 1.2rem!important;
  text-transform: uppercase!important;
  text-align: center!important;

  padding: 1rem!important;

  color: var(--primary)!important;
  background: var(--white)!important;

  cursor: pointer!important;

  border-radius: 7px!important;
  transition: all 0.25s ease-out!important;
}

.lbl-toggle:hover {
  color: var(--grey-1)!important;
}

.lbl-toggle::before {
  content: ' '!important;
  display: inline-block!important;

  border-top: 5px solid transparent!important;
  border-bottom: 5px solid transparent!important;
  border-left: 5px solid currentColor!important;
  vertical-align: middle!important;
  margin-right: .7rem!important;
  transform: translateY(-2px)!important;

  transition: transform .2s ease-out!important;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px)!important;
}

.collapsible-content {
  max-height: 0px!important;
  overflow: hidden!important;
  transition: max-height .25s ease-in-out!important;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px!important;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2)!important;
  border-bottom: 1px solid rgba(250, 224, 66, .45)!important;
  border-bottom-left-radius: 7px!important;
  border-bottom-right-radius: 7px!important;
  padding: .5rem 1rem!important;
}*/
/* simpler colapsible list from https://bernholdtech.blogspot.com/2013/04/very-simple-pure-css-collapsible-list.html */
.collapsibleList div > input + * {
 display: none;
}

.collapsibleList div > input:checked + * {
 display: block;
}

.collapsibleList div > input {
 display: none;
}

.collapsibleList label {
 cursor: pointer;
}
