                               {{ define "main" }}
{{partial "table-search"}}
{{ partial "jumbotron" .Params }}
<div class="tc mw-100">
{{ range $element := .Params.sections }}
	{{ partial "jump-to-menu" $element }}
{{end}}
</div>
	{{ range $index, $element := .Params.sections }}
	{{ partial "basic-sections" $element }}
	{{end}}

<!-- Hardcoded html table  -->
<div class="mw8 center">
	<input type="text" id="myInput" placeholder="Search repertoire...">
	<button onclick="searchTable()">Search</button><button onclick="reset()">Reset</button><p />
	<div style="overflow-x:auto;">
	<table class="GeneratedTable" id="usersTable">
	  <thead>
	  <tr id="header">
	    <th style="cursor:pointer">Name</th>
	    <th style="cursor:pointer">汉字</th>
		<th style="cursor:pointer">Pinyin</th>
	    <th style="cursor:pointer">Level</th>
		<th style="cursor:pointer">Attribution</th>
		<th style="cursor:pointer">Youtube</th>
		<th style="cursor:pointer">Guzheng.cn</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="item">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td></tr>
	<tr class="item">
	<td>Abdul Azul</td>
	<td>阿都沁阿斯尔</td>
	<td>a dōu qìn ā sī ěr</td>
	<td>2*</td>
	<td>Mongolian Yatga</td>
	<td><a href="https://www.youtube.com/results?search_query=阿都沁阿斯尔古筝" target="_blank"><u>YouTube</u></a></td>
	<td><a href="http://www.guzheng.cn/search/?q=阿都沁阿斯尔"target="_blank"><u>Guzheng.cn</u></a></td></tr>
	  </tbody>
	</table>
	{{ partial "collapsible-blind" .Params}}
</div>
{{ end }}
